<section class="cta">
			<div class="uk-container">
				<h2 class="text-white uk-text-center uk-text-uppercase uk-text-bold uk-margin-remove-bottom">Начнём создание</h2>
				<svg viewbox="0 0 200 20">
				  <defs>
					<linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
					  <stop offset="50%" stop-color="#FF8222"/>
					  <stop offset="50%" stop-color="#FF8222"/>
					</linearGradient>
					<pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
					  <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)"> 
						<animateTransform
							attributeName="transform"
							begin="0s"
							dur="1.5s"
							type="translate"
							from="0,0"
							to="40,0"
							repeatCount="indefinite" />
					  </path>
					</pattern>
				  </defs>
				  <text text-anchor="middle" x="100" y="17" font-size="15" fill="url(#wave)"  fill-opacity="1">ПОТОКА КЛИЕНТОВ?</text>
				  <text text-anchor="middle" x="100" y="17" font-size="15" fill="url(#gradient)" fill-opacity="0.1">ПОТОКА КЛИЕНТОВ?</text>
				</svg>
				<div class="uk-hidden@m uk-text-center uk-margin-top">
					<img src="/img/main/victor2.png" class="victor-cta" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; end: 50vh + 50%;" alt="Лучшее маркетинговое агентство">
					<div>
						<a href="#modal-form" uk-toggle class="uk-button uk-button-large uk-button-primary" uk-parallax="opacity: 0,1;  end: 50vh + 50%;">Начать сегодня</a>
					</div>
				</div>
				<div class="uk-inline uk-dark box-rounded uk-visible@m">
					<img src="/img/main/footer.jpg" alt="Лучшее рекламное агентство">
					<div class="uk-position-absolute uk-transform-center" style="left: 50%; top: 15%" href="#" >
						<img src="/img/main/victor2.png" class="victor-cta" uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; end: 50vh + 50%;" alt="Лучшее digital агентство">
					</div>
					<div class="uk-position-absolute uk-transform-center" style="left: 50%; top: 30%" href="#" >
						<a href="#modal-form" uk-toggle class="uk-button uk-button-large uk-button-primary" uk-scrollspy="cls:uk-animation-shake; repeat: true">Начать сейчас</a>
					</div>
					<div class="uk-position-absolute uk-transform-center" style="left: 40%; top: 77%" href="#" uk-scrollspy="cls: uk-animation-fade; repeat: true; delay: 300">
						<img src="/img/main/cta/2.png" class="icons-cta" alt="Заказать настройку рекламы в YouTube цены">
					</div>
					<div class="uk-position-absolute uk-transform-center" style="left: 59%; top: 77%" href="#" href="#" uk-scrollspy="cls: uk-animation-fade; repeat: true; delay: 200">
						<img src="/img/main/cta/3.png" class="icons-cta" alt="Заказать настройку рекламы в Meta, Facebook, Instagram цены">
					</div>
					<div class="uk-position-absolute uk-transform-center" style="left: 31%; top: 58%" href="#" href="#" uk-scrollspy="cls: uk-animation-fade; repeat: true; delay: 400">
						<img src="/img/main/cta/1.png" class="icons-cta" alt="Заказать настройку рекламы в Гугл цены">
					</div>
					<div class="uk-position-absolute uk-transform-center" style="left: 68%; top: 58%" href="#" href="#" uk-scrollspy="cls: uk-animation-fade; repeat: true; delay: 500">
						<img src="/img/main/cta/4.png" class="icons-cta" alt="Заказать настройку поисковой рекламы и SEO в Google и Яндекс">
					</div>
					<div class="uk-position-absolute uk-transform-center" style="left: 50%; top: 58%" href="#" href="#" uk-scrollspy="cls: uk-animation-fade; repeat: true; delay: 100">
						<a href="#modal-form" uk-toggle class="circlebg uk-background-norepeat uk-background-center-center" style="background-image: url(/img/main/cta/ellipse2.svg);">
							<div class="sscc uk-background-norepeat uk-background-center-center" style="background-image: url(/img/main/cta/ellipse.svg);">
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>