<footer id="contact">
			<div class="uk-container uk-container-large">
				<div class="leacli-footer">
					<div>
						<div class="uk-child-width-1-2@s uk-child-width-1-4@m" uk-grid>
							<div class="leacli-company-info">
								<a href="/" class="leacli-logo"><img src="/img/components/logo.svg" style="max-width: 140%;" alt="Лучшее агентство интернет маркетинга и разработки сайтов"></a>
								<div><a href="tel:+996553555255" class="leacli-phone" onclick="gtag('event', 'click_tel', {});"><img src="/img/icons/phone.svg" width="24" class="uk-margin-small-right" alt="Номер маркетингового агентства">+996 553 55-52-55</a></div>
								<div><a href="mailto:info@leacli.com" class="leacli-phone" onclick="gtag('event', 'click_mail', {});"><img src="/img/icons/mail.svg" width="24" class="uk-margin-small-right" alt="Заказать услуги рекламы">info@leacli.com</a></div>
							</div>
							<div class="leacli-section">
								<div class="leacli-section-footer-menu">
									<h5 class="uk-h5 uk-text-bold leacli-section-title">Продвижение</h5>
									<ul class="uk-list leacli-section-list">
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Контекстная реклама</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Медийная реклама</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Таргетированная реклама</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">SEO-оптимизация</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">SMM-продвижение</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Управление репутацией</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Аналитика данных</a></li>
									</ul>
								</div>
							</div>
							<div class="leacli-section">
								<div class="leacli-section-footer-menu">
									<h5 class="uk-h5 uk-text-bold leacli-section-title">Разработка</h5>
									<ul class="uk-list leacli-section-list">
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Сайты визитки</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Мобильные лендинги</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Адаптивные лендинги</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Корпоративные сайты</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Интернет магазины</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Мобильные приложения</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">SaaS-сервисы</a></li>
									</ul>
								</div>
							</div>
							<div class="leacli-section">
								<div class="leacli-section-footer-menu">
									<h5 class="uk-h5 uk-text-bold leacli-section-title">Дизайн</h5>
									<ul class="uk-list leacli-section-list">
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Графический дизайн</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Фирменный стиль</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Логотипы</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Веб дизайн</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">UI/UX</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Дизайн сайтов</a></li>
										<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Дизайн баннеров</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="leacli-footer-cta uk-light uk-margin-medium-top">
							<form id="contact-form2">
								<div class="uk-grid-small uk-child-width-expand@m uk-flex-middle" uk-grid>
									<div class="uk-width-1-4">
										<h5 class="uk-h4 uk-text-bold text-white">Познакомимся?</h5>
									</div>
									<div>
										<div class="uk-inline uk-width-1-1">
											<span class="uk-form-icon">
												<img src="/img/icons/user.svg">
											</span>
											<input class="uk-input uk-form-width-medium uk-form-width-large border-rounded" type="text" name="name" placeholder="Имя" aria-label="Ваше имя" required>
										</div>
									</div>
									<div>
										<input class="uk-input uk-form-width-medium uk-form-width-large border-rounded" type="tel" name="phone" id="phone2" aria-label="Номер телефона" required>
										<p id="message2" class="invnumber"></p>
									</div>
									<input type="hidden" name="request" value="Познакомиться">
									<input type="hidden" name="utm_source" value="<?php $utm_source = $_GET['utm_source']; echo $utm_source; ?>">
									<input type="hidden" name="utm_medium" value="<?php $utm_medium = $_GET['utm_medium']; echo $utm_medium; ?>">
									<input type="hidden" name="utm_campaign" value="<?php $utm_campaign = $_GET['utm_campaign']; echo $utm_campaign; ?>">
									<input type="hidden" name="utm_term" value="<?php $utm_term = $_GET['utm_term']; echo $utm_term; ?>">
									<div>
										<div class="uk-width-expand">
											<button class="uk-button uk-button-primary uk-width-1-1">Позвони мне :)</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="uk-grid uk-flex-middle leacli-bottom">
					<div class="uk-width-auto@m">
						<p class="uk-text-small uk-text-muted leacli-copyright">Маркетинговое агентство «Leacli» © 2016-<script>document.write(new Date().getFullYear());</script></p>
					</div>
					<!--<div class="uk-width-auto">
						<a href="#" class="uk-text-small uk-link-muted leacli-bottom-link">Terms of Service</a>
					</div>
					<div class="uk-width-auto">
						<a href="#" class="uk-text-small uk-link-muted leacli-bottom-link">Privacy Policy</a>
					</div>-->
					<div class="uk-width-expand">
					</div>
					<div class="uk-width-auto@m">
						<span class="leacli-made-with-love"><img src="/img/icons/heart.svg" class="uk-margin-small-right" width="24" alt="Разработка лендингов, корпоративных сайтов, сайтов визиток, интернет магазинов, SaaS, маркетплейсов и IT под ключ">Сделано от души</span>
					</div>
				</div>
			</div>
		</footer>