<header class="uk-visible@m" uk-sticky="offset: 16">
						<div class="uk-grid-collapse uk-child-width-expand uk-flex-middle" uk-grid>
							<div class="uk-width-auto">
								<nav class="navbar">
									<div class="uk-grid-small uk-flex-middle" uk-grid>
										<div class="uk-width-auto">
											<a href="/" class="logo"><img src="/img/components/logo.svg" alt="Маркетинговое Digital-агентство Leacli"></a>
										</div>
										<div class="uk-width-auto">
											<a href="#cases">Кейсы</a>
										</div>
										<div class="uk-width-auto">
											<a href="#strategy">Стратегия</a>
										</div>
										<div class="uk-width-auto">
											<a href="#modal-menu" uk-toggle>Услуги</a>
										</div>
										<div class="uk-width-auto">
											<a href="#special">Акции</a>
										</div>
										<div class="uk-width-auto">
											<a href="#contact">Контакты</a>
										</div>
									</div>
								</nav>
							</div>
							<div></div>
							<div class="uk-width-auto@m">
								<div class="astronaut"><img src="/img/main/austrnaut.png" alt="Агентство интернет рекламы"></div> 
							</div>
							<div class="uk-width-auto">
								<div class="contactbar">
									<div class="uk-grid-small uk-flex-middle" uk-grid>
										<div>
											<a href="#modal-form" uk-toggle class="uk-button uk-button-small uk-button-primary">
												Начать сегодня
											</a>
										</div>
										<!--div>
											<a href="#" class="lang" id="lang-toggle" uk-toggle="target: #lang-drop">RU</a>
											<div id="lang-drop" class="lang-drop" uk-drop="mode: click; pos: bottom-left">
											  <div class="lang-card">
												<ul class="uk-nav uk-nav-default uk-text-small">
												  <li><a href="#">EN</a></li>
												  <li><a href="#">RU</a></li>
												</ul>
											  </div>
											</div>
										</div-->
									</div>
								</div>
							</div>
						</div>
					</header>
					<div class="mob-header uk-hidden@m" uk-sticky="offset: 10">
						<div class="uk-grid-small uk-child-width-expand uk-flex-middle" uk-grid>
							<div class="uk-width-auto">
								<a class="mob-header-logo">
									<img src="/img/components/logo.svg" alt="Рекламное Performance-агентство Leacli">
								</a>
							</div>
							<div class="uk-width-expand"></div>
							<div class="uk-width-auto">
								<div class="astronaut"><img src="/img/main/austrnaut.png" alt="Реклама сайта в Google"></div> 
							</div>
							<div class="uk-width-auto">
								<a href="#modal-form" class="uk-display-block" uk-toggle><img src="/img/icons/rocketlaunch.svg" width="44" alt="Заказать рекламу">
								</a>
							</div>
							<div class="uk-width-auto">
								<a href="#offcanvas-reveal" uk-toggle class="uk-display-block"><img src="/img/components/nav.svg" width="44" alt="Услуги рекламы в интернете"></a>
							</div>
						</div>
					</div>