<div id="offcanvas-reveal" uk-offcanvas="mode: reveal; flip: true">
			<div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">
				<button class="uk-offcanvas-close uk-close-large" type="button" uk-close uk-toggle="cls: uk-close-large; mode: media; media: @s"></button>
				<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical" uk-nav>
					<li><a href="#cases">Кейсы</a></li>
					<li><a href="#strategy">Стратегия</a></li>
					<li><a href="#modal-menu" uk-toggle>Услуги</a></li>
					<li><a href="#special">Акции</a></li>
					<li><a href="#contact">Контакты</a></li>
				</ul>
				<!--div>
					<a class="language-switch">
						<span class="language-option">
							<img src="/img/components/globe.svg">
							RU
						</span>
						<span class="language-selected">EN</span>
					</a>
				</div-->
			</div>
		</div>