<div id="modal-menu" class="uk-modal-container" uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close-default" type="button" uk-close></button>
				<h2 class="uk-modal-title uk-text-bold">УСЛУГИ</h2>
				<div>
					<div class="uk-grid-medium uk-grid-divider uk-child-width-1-4@m" uk-grid>
						<div>
							<div class="uk-overflow-hidden border-rounded">
								<img src="/img/services/main/marketing.jpg" width="1800" height="1200" uk-scrollspy="cls: uk-animation-kenburns; repeat: true" class="uk-scrollspy-inview" alt="Услуги продвижения сайтов и рекламы">
							</div>
							<div class="uk-margin-top">
								<h5 class="uk-h3 uk-text-bold">Продвижение</h5>
								<ul class="uk-list leacli-modal-list">
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Контекстная реклама</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Медийная реклама</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Таргетированная реклама</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">SEO-оптимизация</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">SMM-продвижение</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Управление репутацией</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Аналитика данных</a></li>
								</ul>
							</div>
						</div>
						<div>
							<div class="uk-overflow-hidden border-rounded">
								<img src="/img/services/main/development.jpg" width="1800" height="1200" uk-scrollspy="cls: uk-animation-kenburns; repeat: true" class="uk-scrollspy-inview" alt="Услуги разработки сайтов">
							</div>
							<div class="uk-margin-top">
								<h5 class="uk-h3 uk-text-bold">Разработка</h5>
								<ul class="uk-list leacli-modal-list">
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Сайты визитки</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Мобильные лендинги</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Адаптивные лендинги</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Корпоративные сайты</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Интернет магазины</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Мобильные приложения</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">SaaS-сервисы</a></li>
								</ul>
							</div>
						</div>
						<div>
							<div class="uk-overflow-hidden border-rounded">
								<img src="/img/services/main/design.jpg" width="1800" height="1200" uk-scrollspy="cls: uk-animation-kenburns; repeat: true" class="uk-scrollspy-inview" alt="Услуги web-дизайна">
							</div>
							<div class="uk-margin-top">
								<h5 class="uk-h3 uk-text-bold">Дизайн</h5>
								<ul class="uk-list leacli-modal-list">
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Графический дизайн</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Фирменный стиль</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Логотипы</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Веб дизайн</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">UI/UX</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Дизайн сайтов</a></li>
									<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-link">Дизайн баннеров</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>