<div id="modal-menu" class="uk-modal-container" uk-modal>
	<div class="uk-modal-dialog uk-modal-body leacli-modal__dialog">
		<button class="uk-modal-close-default leacli-modal__close" type="button" uk-close></button>
		<h2 class="uk-modal-title uk-text-bold leacli-modal__title">УСЛУГИ</h2>
		<div class="leacli-modal__body">
			<div class="uk-grid-medium uk-grid-divider uk-child-width-1-4@m" uk-grid>
				<div>
					<div class="uk-overflow-hidden border-rounded">
						<img src="/img/services/main/marketing.jpg" width="1800" height="1200" uk-scrollspy="cls: uk-animation-kenburns; repeat: true" class="uk-scrollspy-inview" alt="Услуги продвижения сайтов и рекламы">
					</div>
					<div class="uk-margin-top">
						<h5 class="uk-h3 uk-text-bold leacli-modal__subtitle">Продвижение</h5>
						<ul class="uk-list leacli-modal__list">
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Контекстная реклама</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Медийная реклама</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Таргетированная реклама</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">SEO-оптимизация</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">SMM-продвижение</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Управление репутацией</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Аналитика данных</a></li>
						</ul>
					</div>
				</div>
				<div>
					<div class="uk-overflow-hidden border-rounded">
						<img src="/img/services/main/development.jpg" width="1800" height="1200" uk-scrollspy="cls: uk-animation-kenburns; repeat: true" class="uk-scrollspy-inview" alt="Услуги разработки сайтов">
					</div>
					<div class="uk-margin-top">
						<h5 class="uk-h3 uk-text-bold leacli-modal__subtitle">Разработка</h5>
						<ul class="uk-list leacli-modal__list">
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Сайты визитки</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Мобильные лендинги</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Адаптивные лендинги</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Корпоративные сайты</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Интернет магазины</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Мобильные приложения</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">SaaS-сервисы</a></li>
						</ul>
					</div>
				</div>
				<div>
					<div class="uk-overflow-hidden border-rounded">
						<img src="/img/services/main/design.jpg" width="1800" height="1200" uk-scrollspy="cls: uk-animation-kenburns; repeat: true" class="uk-scrollspy-inview" alt="Услуги web-дизайна">
					</div>
					<div class="uk-margin-top">
						<h5 class="uk-h3 uk-text-bold leacli-modal__subtitle">Дизайн</h5>
						<ul class="uk-list leacli-modal__list">
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Графический дизайн</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Фирменный стиль</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Логотипы</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Веб дизайн</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">UI/UX</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Дизайн сайтов</a></li>
							<li><a href="#modal-form" uk-toggle class="uk-link-muted leacli-modal__link">Дизайн баннеров</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>